<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Paint.Properties.Settings.AuctionsDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-2BMVGDR\SQLEXPRESS;Initial Catalog=AuctionsDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>